@import '../../../styles.scss';

figure {
	margin: 0;
	padding: 0;
	width: 100%;
	max-height: 80vh;
	min-height: 550px;
	overflow: hidden;
	background-size: cover !important;
	background-attachment: fixed;
}
.content {
	margin-top: 4rem;
}

:host /deep/ #postBody {
	width: 70%;
	float: right;
	color: #333;
	img {
		max-width: 100%;
		height: auto;
	}
	p {
		strong {
			font-family: $sans-serif-font;
			font-weight: 500;
		}
	}
	hr {
		margin-bottom: 4rem;
		margin-top: 0;
	}
}
#sidebar {
	width: 20%;
	// background: #333;
	float: left;
	padding-right: 4%;
	border-right: 1px solid $offwhite;
	.logo-container {
		width: 100%;
		background: $white;
		padding: 1rem 0 0;
		text-align: center;
		img {
			max-width: 300px;
			width: 90%;
		}
	}
	.content {
		padding-top: 1rem;
		max-width: 400px;
		color: #888;
		margin-top: 1rem;
		h4 {
			font-size: 1.2rem;
			letter-spacing: 0.5px;
			font-weight: normal;
			margin: 0;
			padding: 0 0 5px;
		}
		p {
			font-size: 0.9rem;
			font-family: $sans-serif-font;
			line-height: 1.2rem;
			margin: 0 auto;
			padding: 0;
			font-weight: 300;
		}
		.container {
			margin-top: 1rem;
			&:after {
				clear: both;
				display: block;
				content: '';
			}
		}
		.icon {
			width: 15%;
			float: left;
		}
		.info {
			width: 80%;
			float: right;
		}
	}
	.button-dark {
		display: block;
		width: 60%;
		margin: 3rem auto 0;
		text-align: center;
	}
}
#redirect {
	padding: 5rem 0 8rem;
	text-align: center;
	h1 {
		margin: 2rem auto;
		font-size: 10rem;
		color: $mint;
	}
	h2 {
		color: $navy;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 3rem;
	}
	a {
		color: $navy;
		font-size: 1.3rem;
		font-weight: bold;
		transition: all 0.2s ease;
		padding: 0.6rem 2rem;
		border: 2px solid $mint;
		&:hover {
			color: $hotpink;
		}
	}
}




@media screen and (max-width: 800px) {
	figure {
		max-height: 50vh;
		min-height: 200px;
	}
	#postBody {
		width: 90%;
		float: none;
		clear: both;
		margin: 1rem auto;
	}
	#sidebar {
		display: none;
	}
	#redirect {
		padding: 2rem 0 8rem;
		h1 {
			font-size: 5rem;
		}
		h2 {
			font-size: 1rem;
		}
	}
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
	#postBody {
		width: 60%;
	}
	#sidebar {
		width: 30%;
	}
}

